In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [2]:
conn = pymysql.connect(host = 'localhost',
                       port = 3307,
                       user = 'root',
                       password = 'Asd2004*',
                       db = 'world')
my_query = "SELECT * FROM city"
df = pd.read_sql_query(my_query, conn)
df

C:\Users\yeeun\AppData\Local\Temp\ipykernel_9028\4192912841.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(my_query, conn)

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]