In [9]:
import os
import sys
import requests
import pymysql
import json
import pandas as pd
from sqlalchemy import create_engine

In [10]:
header ={'X-Naver-Client-Id':'F0bMGPTVgCNbrYnJQLmq',
         'X-Naver-Client-Secret':'gs4shTAvr5',
         'Content-Type':'application/json'}
body = {'startDate':'2023-01-01',
        'endDate':'2023-12-31',
        'timeUnit':'date',
        'keywordGroups':[{'groupName':'벚꽃', 'keywords':['벚꽃','cherry blossom']},
                         {'groupName':'장범준', 'keywords':['장범준','버스커버스커']}
                         ],
        'device':'mo',
        'ages':['2','3','4']}
body = json.dumps(body)
url = 'https://openapi.naver.com/v1/datalab/search'

In [11]:
response = requests.post(url, headers=header, data=body)
print(response.status_code)

200

In [12]:
result = json.loads(response.text)

In [13]:
user = 'lim'
db = 'limdb'
password = 'Asd2004'
host = 'host.docker.internal'
port = 3307
conn = 'mysql+pymysql://{}:{}@{}:{}/{}'.format(user,password,host,port,db)
engine = create_engine(conn)

In [25]:
for i in result['results']:
    df = pd.DataFrame(i['data'])
    df['title'] = i['title']
    print(df.head()) 
    df.to_sql('trend', con=engine, if_exists='append', index=False)

       period    ratio title
0  2023-01-01  1.68570    벚꽃
1  2023-01-02  1.51634    벚꽃
2  2023-01-03  1.40212    벚꽃
3  2023-01-04  1.16581    벚꽃
4  2023-01-05  1.45726    벚꽃
       period    ratio title
0  2023-01-01  1.69358   장범준
1  2023-01-02  1.29972   장범준
2  2023-01-03  1.15005   장범준
3  2023-01-04  1.23276   장범준
4  2023-01-05  1.35092   장범준

In [26]:
query = "SELECT * FROM trend"
pd.read_sql_query(query, engine)

          period    ratio title
0     2023-01-01  1.69358   장범준
1     2023-01-02  1.29972   장범준
2     2023-01-03  1.15005   장범준
3     2023-01-04  1.23276   장범준
4     2023-01-05  1.35092   장범준
...          ...      ...   ...
1820  2023-12-27  3.36746   장범준
1821  2023-12-28  3.07995   장범준
1822  2023-12-29  2.56400   장범준
1823  2023-12-30  4.02126   장범준
1824  2023-12-31  3.19023   장범준

[1825 rows x 3 columns]

In [16]:
for i in result['results']:
    df = pd.DataFrame(i['data'])
    df['title'] = i['title']
    print(df.head())

       period    ratio title
0  2023-01-01  1.68570    벚꽃
1  2023-01-02  1.51634    벚꽃
2  2023-01-03  1.40212    벚꽃
3  2023-01-04  1.16581    벚꽃
4  2023-01-05  1.45726    벚꽃
       period    ratio title
0  2023-01-01  1.69358   장범준
1  2023-01-02  1.29972   장범준
2  2023-01-03  1.15005   장범준
3  2023-01-04  1.23276   장범준
4  2023-01-05  1.35092   장범준